$font: 'Roboto', sans-serif;
$primary: #0E0D11;
$card-content: #19181F;
$card-border-content: #28272C;
$light: #f1f1f1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primary;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
}

*, button, input {
    border: 0;
    background: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: $primary;
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: $card-content;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid $card-border-content;

    & > h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: $primary;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 280px;
        }

        code {
            color: $light;
        }
    }
}